body {
  font-family: 'Open sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  color: #333333;
}

header {
  background-color: #A2D5F2;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.hero {
  background-image: url('https://cdn.discordapp.com/attachments/1220373763489529887/1352957352420053083/Screenshot_20250322-072513_Chrome.jpg?ex=67dfe739&is=67de95b9&hm=f0f472b79d7b976bd9af3ad825ff48db8fea2253145c61c0abac366157eb9a97&'); 
  background-size: cover;
  padding: 100px 20px;
  text-align: center;
  color: white;
}

.hero h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

.btn {
  background-color: #FF6B6B;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: #A2D5F2;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}
